.notification {
  border: 4px solid;
  background: lightgrey;
  padding: 1rem;
  font-weight: bold;
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.notification.error {
  border-color: red;
  color: red;
}

.notification.success {
  border-color: green;
  color: green;
}
